<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form method="post" th:action="@{/user-add}" th:object="${user}">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label>
                Name
                <input type="text" class="form-control" th:field="*{name}" th:value="${user.getName()}">
            </label>
        </div>
        <div class="col-md-6 form-group">
            <label>
                Email
                <input type="text" class="form-control" th:field="*{email}" th:value="${user.getEmail()}">
            </label>
        </div>
        <div class="col-md-6 form-group">
            <input type="submit" value="Add User">
        </div>
    </div>
</form>
</body>
</html>